h1{
    color: darkred;
}

.bg-img {
    background-image: url("../images/ferriswheel.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh
}

.transluc {
    background-color:rgba(220, 220, 220, 0.7)
}