.logo {
    max-width: 125px; 
    /* background: #FFF; */
    border-radius: 5px;
    padding: 10px
}

@keyframes color-reverse {
    from {background: rgba(255,255,255,1);}
    to {background: rgba(255,255,255,0.5);}
  }

nav#nav {
    background: rgba(255,255,255,0.5);
    font-variant: small-caps;
    animation-name: color-reverse;
    animation-duration: 0.3s;
}

@keyframes color {
    from {background: rgba(255,255,255,0.5);}
    to {background: rgba(255,255,255,1);}
  }

nav#nav.scrolled-down {
    background: rgba(255,255,255,1);
    padding: 0;
    animation-name: color;
    animation-duration: 0.5s;
    border-bottom: solid thin #BBB;
}

nav#nav.scrolled-down .logo {
    width: 75px;
}

div.hero-homepage {
    background-image:url('../img/FaithBldgFall.jpg');
    background-size: cover;
    
    /* min-height: 100vh; */
}

div.hero-content {
    border-radius: 8px;
}

@media only screen and (max-width: 575px) {
    nav#nav {
        background: rgba(255,255,255,1) !important; 
    }
}

li.nav-item a {
    text-align: left;
}

.latest-head {
    font-variant: small-caps;
}

.worship-link, .education-link, .mission-link, .fellowship-link {
    /* font-weight: bold; */
    text-decoration: none;
}


.worship-link, .worship-link svg {color: #ffd700; fill: #ffd700;}
.worship-link:hover, .worship-link.hovered, .worship-link svg:hover, .worship-link.hovered svg {color: #bf9700; fill: #bf9700;}

.education-link, .education-link svg {color: #00A000; fill: #00A000;} 
.education-link:hover, .education-link.hovered, .education-link svg:hover, .education-link.hovered svg {color: #008000; fill: #008000;}

.mission-link, .mission-link svg {color: #ff4444; fill: #ff4444;}
.mission-link:hover, .mission-link.hovered, .mission-link svg:hover, .mission-link.hovered svg {color: #c00000; fill: #c00000;}

.fellowship-link, .fellowship-link svg {color: #53bbdd; fill: #53bbdd;}
.fellowship-link:hover, .fellowship-link.hovered, .fellowship-link svg:hover, .fellowship-link.hovered svg {color: #30839e; fill: #30839e;}